<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Core/etc/config.xsd">
    <default>
        <magemonkey>
            <general>
                <active>0</active>
            </general>
        </magemonkey>
    </default>
</config>